html {
  	font-size: 10px;
  	font-family: 'Noto Sans SC', sans-serif;
  	background-color: lightgray;
}

@media screen and (min-width: 701px) {
/*browser width >= 701px */
	body {
	  	width: 700px;
	  	margin: 10px auto;
	  	background-color: white;
	  	padding: 20px 20px 20px 20px;
	  	border: 5px solid black;
	}
}
@media screen and (max-width: 700px) {
/*browser width <= 700px*/
	body {
	  	width: 90%;
	  	margin: 10px auto;
	  	background-color: white;
	  	padding: 20px 20px 20px 20px;
	  	border: 5px solid black;
	}
}
div {
	width: 100%;
	margin: 0 auto;
	background-color: transparent;
}
div.P1, div.P2, div.P3, div.P4, div.P5, div.P6, div.P7 {
  	display: none;
}
div.P1Btn, div.P2Btn, div.P3Btn, div.P4Btn, div.P5Btn, div.P6Btn {
	display: none;
	margin: 0px auto 0px auto;
	text-align: right;
	opacity: 0;
}

h1 {
  	font-size: 48px;
  	text-align: center;
  	margin: 0;
  	padding: 20px 0;
  	color: darkorange;
  	text-shadow: 3px 3px 1px black;
}

p, li {
  	font-size: 16px;
  	line-height: 2;
  	letter-spacing: 1px;
}
p.P1line, p.P2line, p.P3line, p.P4line, p.P5line, p.P6line {
	display: none;
}

span.OrangeToGray{
	background-image: linear-gradient(to right, darkorange, lightgrey);
	-webkit-background-clip: text;
	color: transparent;
}
span.OrangeToGrayToOrange{
	background-image: linear-gradient(to left, darkorange, lightgrey, darkorange);
	-webkit-background-clip: text;
	color: transparent;
}
span.Gray{
	color: lightgrey;
}
span.Orange{
	color: darkorange;
}

img {
  	display: none;
  	margin: 0 auto;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

button {
  	display: inline-block;
}

