@font-face {
	font-family: 'Black Rose';
	src: url('../fonts/kurobara-cinderella.ttf')
}
@font-face {
	font-family: 'Kana B';
	src: url('../fonts/851CHIKARA-DZUYOKU_kanaB_004.ttf')
}

html {
  	font-size: 40px;
  	font-family: 'Klee One', sans-serif;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-image: url(../images/pattern_jigsaw.png);
	background-size: cover;
}

@media screen and (min-width: 1201px) {
/*browser width >= 1200px */
	body {
	  	width: 1200px;
	  	margin: 20px auto;
	  	padding: 20px 20px 20px 20px;
		color: white;
    	justify-content: center;
    	align-items: center;
    	gap: 20px;
   		border-radius: 20px;
    	backdrop-filter: blur(13px);
    	background-color: rgba(0,0,0, 0.6);
    	box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px;
    	border: 5px rgba(255,255,255,0.4) solid;
    	border-bottom: 5px rgba(40,40,40,0.35) solid;
    	border-right: 5px rgba(40,40,40,0.35) solid;
	}
}
@media screen and (max-width: 1200px) {
/*browser width <= 1200px*/
	body {
	  	width: 90%;
	  	margin: 10px auto;
	  	padding: 20px 20px 20px 20px;
		color: white;
    	justify-content: center;
    	align-items: center;
    	gap: 20px;
   		border-radius: 20px;
    	backdrop-filter: blur(13px);
    	background-color: rgba(0,0,0, 0.6);
    	box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px;
    	border: 5px rgba(255,255,255,0.4) solid;
    	border-bottom: 5px rgba(40,40,40,0.35) solid;
    	border-right: 5px rgba(40,40,40,0.35) solid;
	}
}
div {
	width: 100%;
	margin: 0 auto;
	background-color: transparent;
}
div.P0{
	font-family: 'Zen Kurenaido';
}
div.P1, div.P2, div.P3, div.P4, div.P5, div.P6 {
  	display: none;
}
div.P12{
	text-align: center;
}
div.P7 {
	font-family: 'Zen Kurenaido';
  	display: none;
}
div.mario, div.mario2 {
	display: none;
}
div.P1Btn, div.P12Btn, div.P2Btn, div.P3Btn, div.P4Btn, div.P5Btn, div.P6Btn {
	display: none;
	margin: 0px auto 0px auto;
	text-align: right;
	opacity: 0;
}
div.P2hint, div.P3hint {
	display: none;
}
div.center {
	display: table;
	margin: 10px auto;
	text-align: center;
}
iframe {
	display: none;
	margin: 5px auto;
}

h1 {
	font-family: 'Kana B';
  	font-size: 80px;
  	text-align: center;
  	margin: 0;
  	padding: 20px 0;
  	color: #FE9952;
  	text-shadow: 4px 4px 2px black;
}
h2 {
	font-family: 'Kana B';
  	font-size: 60px;
  	text-align: center;
  	margin: 0;
  	padding: 20px 0;
  	color: #FE9952;
  	text-shadow: 4px 4px 2px black;
}
.special {
	font-family: 'Permanent Marker';
}
.hr-fade-content {
    color: #FE9952;
    border: 0;
    font-size: 40px;
    padding: 1em 0;
    position: relative;
}
.hr-fade-content::before {
    content: attr(data-content);
    position: absolute;
    padding: 0 1ch;
    line-height: 8px;
    border: solid #FE9952;
    border-width: 0 99vw;
    width: fit-content;
    /* for 不支持fit-content浏览器 */
    white-space: nowrap;
    left: 50%;
    transform: translateX(-50%);
}
.hr-fade-content::before {
	border-image: linear-gradient(to right, transparent, #FE9952, #CBC6CC, #FE9952, transparent) 0 70%;
}
.hr-fade-content {
    -webkit-mask-image: linear-gradient(to right, transparent, black, transparent);
    mask-image: linear-gradient(to right, transparent, black, transparent);
}

p {
  	font-size: 40px;
  	line-height: 2;
  	letter-spacing: 2px;
	text-shadow: 0px 0px 2px black, 2px 2px 2px rgba(0, 0, 0, 0.5);
}
p.P1line, p.P2line, p.P3line, p.P4line, p.P5line, p.P6line {
	display: none;
}
p.P1hint, p.P4hint, p.P6hint {
	display: none;
}

ol {
	list-style-type: none;
	counter-reset: li;
}
li {
  	font-size: 40px;
	font-family: 'Zen Kurenaido';
  	line-height: 2;
  	letter-spacing: 1px;
	counter-increment: li;
	text-shadow: 0px 0px 2px black, 2px 2px 2px rgba(0, 0, 0, 0.5);
}
li::before {
	content: counter(li) "/5";
	color: #FE9952;
	display: inline-block; 
	width: 3em;
  	/*text-shadow: 1px 1px 1px #CBC6CC;*/
	text-shadow: 0px 0px 2px black, 2px 2px 2px rgba(0, 0, 0, 0.5);
	margin-left: -1em;
	margin-right: 0.5em;
	text-align: right;
	direction: rt1;
}

span.OrangeToGray{
	background-image: linear-gradient(to right, #FE9952, #CBC6CC);
	-webkit-background-clip: text;
	color: transparent;
	text-shadow: none;
}
span.OrangeToGray::Before{
	content: attr(text);
	position: absolute;
	text-shadow: 0 0 2px black;
	z-index: -1;
}
span.Gray{
	color: #CBC6CC;
}
span.Orange{
	color: #FE9952;
}
span.emoji{
	z-index: 1;
}

img {
  	display: none;
  	margin: 0 auto;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

button {
  	display: inline;
	text-align: center;
	vertical-align: middle;
	font-family: 'Zen Kurenaido';
	font-size: 40px;
	text-shadow: 0px 0px 2px black, 2px 2px 2px rgba(0, 0, 0, 0.5);
	box-shadow: 4px 4px black;
}
button::hover {
	box-shadow: 0px 0px black;
}
button.mario {
	border: 0;
	width: 80px;
	height: 80px;
	background-size: 100%;
	padding: 0;
	cursor: pointer;
	outline-offset: 20px;
}
button.mario:active {
	transform: translateY(-10px);
}
audio {
	width: 600px;
	font-size: 30px;
}
audio.mario {
	display: none;
}
input {
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	font-family: 'Zen Kurenaido';
	font-size: 40px;
	border: 4px solid #ccc;
	border-radius: 4px;
}
input:focus {
	outline: none;
	border-color: #FE9952;
	box-shadow: 0 0 20px #FE9952;
}
@keyframes shake{
	0%{
		margin-left: 0;
	} 25%{
		margin-left: 0.5rem;
	} 50%{
		margin-left: 0;
	} 75%{
		margin-left: -0.5rem;
	} 100%{
		margin-left: 0;
	}
}

.video {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
}
.video iframe, .video object, .video embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

ruby > rt {
	font-size: 100%;
	zoom: 0.5;
}
/*Firefox--CSS*/
@-moz-document url-prefix(){
  ruby > rt {
    font-size: 50%;
  }
}
/* IE11--CSS　*/
_:-ms-fullscreen, :root ruby > rt {
  font-size: 50%;
}
/* Safari--CSS　*/
_::-webkit-full-page-media, _:future, :root ruby > rt {
  zoom: 1;
  font-size: -webkit-ruby-text;
}
/* Edge(Chromium)--CSS　*/
_:lang(x)::-ms-, ruby > rt {
  font-size: 100%;
  zoom: 0.5;
}


